<title>GardenManager</title>

<div>
    <h1>Hello, this is the GardenManager!</h1>
</div>

<div>
    <form action="/sampleQ" method="GET">
        <button name='sql' value="sampleQ">SampleQuery</button>
    </form>
    {% if 'sampleQ' in arrays %}
    <table border=1>
        <tr>
            {% for colname in arrays['sampleQ']['cols'] %}
            <th> {{ colname }} </th>
            {% endfor %}
        </tr>
        {% for row in arrays['sampleQ']['res'] %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<div>
    <hr>
    <h2> Insert into Species Table </h2>
    <form action="/species" method="POST">
        <input type="text" name="Genus">Genus</input>
        <input type="text" name="Genus">Species</input>
        <input type="text" name="Genus">Common Name</input>
        <input type="text" name="Genus">Plant Family</inputc>
        <select name="LifeCycle">
          <optgroup label="">
            <option value="perennial">perennial</option>
            <option value="annual">annual</option>
            <option value="biennial">biennial</option>
          </optgroup>
        </select>
        <button name='insert'>Insert</button>
    </form>
    <form action="/species" method="GET">
        <button name='species'>Show All Species</button>
    </form>
    {% if 'species' in arrays %}
    <table border=1>
        <tr>
            {% for colname in arrays['species']['cols'] %}
            <th> {{ colname }} </th>
            {% endfor %}
        </tr>
        {% for row in arrays['species']['res'] %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<div>
    <hr>
    <h2> Delete Plant by PlantID </h2>
    <form action="/deletePlant" method="POST">
        <input type="PlantID">Plant ID</input>
{#        <select name="Plant ID Dropdown">#}
{#          <optgroup label="PlantIDDD">#}
{#              {% for row in arrays['delPlant']['plantId'] %}#}
{#                <option value=row>row</option>#}
{#              {% endfor %}#}
{#          </optgroup>#}
{#        </select>#}
        <button name='deletePlant'>Delete Plant</button>
    </form>
    <form action="/deletePlant" method="GET">
        <button name='deletePlant'>Show All Plants</button>
    </form>
    {% if 'plant' in arrays %}
    <table border=1>
        <tr>
            {% for colname in arrays['plant']['cols'] %}
            <th> {{ colname }} </th>
            {% endfor %}
        </tr>
        {% for row in arrays['plant']['res'] %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<div>
    <hr>
    <h3>Projects the Variety, Genus, Species and EnvironmentID of specific plants in the garden</h3>
    <form id="project" action="/project" method="GET">
        <label for="plantID">PlantID:</label>
        <input type="text" id="plantID" name="plantID"><br><br>
        <button name='sql' value="project">Project</button>
    </form>
    {% if 'project' in arrays %}
    <table border=1>
        <tr>
            {% for colname in arrays['project']['cols'] %}
            <th> {{ colname }} </th>
            {% endfor %}
        </tr>
        {% for row in arrays['project']['res'] %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>