<title>GardenManager</title>

<div>
    <h1>Hello, this is the GardenManager!</h1>
</div>

<div>
    <form action="/sampleQ" method="GET">
        <button name='sql' value="sampleQ">SampleQuery</button>
    </form>
    {% if 'sampleQ' in arrays %}
    <table border=1>
        <tr>
            {% for colname in arrays['sampleQ']['cols'] %}
            <th> {{ colname }} </th>
            {% endfor %}
        </tr>
        {% for row in arrays['sampleQ']['res'] %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<div>
    <form action="/insert" method="POST">
        <button name='sql' value="insert">Insert</button>
    </form>
    {% if 'insert' in arrays %}
    <table border=1>
        <tr>
            {% for colname in arrays['sampleQ']['cols'] %}
            <th> {{ colname }} </th>
            {% endfor %}
        </tr>
        {% for row in arrays['sampleQ']['res'] %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
