<title>GardenManager</title>

<div>
    <h1>Hello, this is the GardenManager!</h1>
</div>

<div>
    <form action="/sampleQ" method="GET">
        <button name='sql' value="sampleQ">SampleQuery</button>
    </form>
    {% if 'sampleQ' in arrays %}
    <table border=1>
        <tr>
            {% for colname in arrays['sampleQ']['cols'] %}
            <th> {{ colname }} </th>
            {% endfor %}
        </tr>
        {% for row in arrays['sampleQ']['res'] %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<div>
    <h2> Insert into Species Table </h2>
    <form action="/species" method="POST">
        <input type="text" name="Genus">Genus</input>
        <input type="text" name="Genus">Species</input>
        <input type="text" name="Genus">Common Name</input>
        <input type="text" name="Genus">Plant Family</inputc>
        <select name="LifeCycle">
          <optgroup label="">
            <option value="perennial">perennial</option>
            <option value="annual">annual</option>
            <option value="biennial">biennial</option>
          </optgroup>
        </select>
        <button name='insert'>Insert</button>
    </form>
    <form action="/species" method="GET">
        <button name='species'>Show All Species</button>
    </form>
    {% if 'species' in arrays %}
    <table border=1>
        <tr>
            {% for colname in arrays['species']['cols'] %}
            <th> {{ colname }} </th>
            {% endfor %}
        </tr>
        {% for row in arrays['species']['res'] %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
